<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] rounded-md">
    <div class="trezo-card-content">
        <div class="flex items-center justify-between mb-[10px]">
            <div class="flex items-center">
                <span class="block">
                    {{ 'dashboard.overview.totalStudents.title' | translate }}
                </span>
            </div>
            <span class="block text-sm text-gray-500 dark:text-gray-400 whitespace-nowrap flex-shrink-0">
                {{ 'dashboard.overview.totalStudents.last5Months' | translate }}
            </span>
        </div>
        <h5 class="!text-lg md:!text-[20px] !mb-0 mb-[15px]">
            15.8k
        </h5>
        <div class="w-full h-[100px] mb-[15px] overflow-hidden">
            <div id="overview_total_students_chart" class="w-full h-full"></div>
        </div>
        <ul class="mt-[10px]">
            <li class="text-sm ltr:pl-[30px] rtl:pr-[30px] flex justify-between relative mb-[6px] last:mb-0">
                <span class="inline-block bg-primary-500 ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 w-[20px] h-[5px] rounded-md"></span>
                <span class="block">
                    {{ 'dashboard.overview.totalStudents.enrolled' | translate }}
                </span>
                <span class="block">
                    75%
                </span>
            </li>
            <li class="text-sm ltr:pl-[30px] rtl:pr-[30px] flex justify-between relative mb-[6px] last:mb-0">
                <span class="inline-block bg-primary-200 ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 w-[20px] h-[5px] rounded-md"></span>
                <span class="block">
                    {{ 'dashboard.overview.totalStudents.completed' | translate }}
                </span>
                <span class="block">
                    25%
                </span>
            </li>
        </ul>
