<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <app-welcome />

        <app-ecommerce-total-sales />

    </div>
    <div class="lg:col-span-1">

        <app-total-orders />

        <app-total-customers />

        <app-total-revenue />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-5 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <app-sales-by-locations />

    </div>
    <div class="lg:col-span-3">

        <app-top-selling-products />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <app-recent-orders />

    </div>
    <div class="lg:col-span-1">

        <app-order-summary />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">

        <app-recent-transactions />

    </div>
    <div class="lg:col-span-2">

        <app-returning-customer-rate />

    </div>
</div>
