
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="!mb-0">
        Transaction Details
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Finance
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard/finance/transactions" class="transition-all hover:text-primary-500">
                Transactions
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Transaction Details
        </li>
    </ol>
</div>

<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content">
        <div class="mb-[20px] md:mb-[25px]">
            <span class="block md:text-[15px] mb-[15px] md:mb-[25px]">
                Transaction ID:
                <span class="text-black dark:text-white">
                    #1346
                </span>
            </span>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-[20px] items-start">

                <div>
                    <span class="block mb-[4px] md:text-[15px]">
                        Learner:
                    </span>
                    <span class="block mb-[4px] md:text-[15px] text-black dark:text-white">
                        Shannon Nelson
                    </span>
                    <span class="block mb-[4px] md:text-[15px] text-black dark:text-white">
                        shannon.nelson@example.com
                    </span>
                    <span class="block mb-[4px] md:text-[15px] text-black dark:text-white">
                        +1 444 556 8899
                    </span>
                </div>

                <div>
                    <span class="block mb-[4px] md:text-[15px]">
                        Date:
                        <span class="text-black dark:text-white">
                            01 Dec 2025
                        </span>
                    </span>
                    <span class="block mb-[4px] md:text-[15px]">
                        Status:
                    </span>
                    <span class="block mb-[4px] md:text-[15px] px-[12px] py-[6px] rounded-full inline-block bg-success-50 text-success-600">
                        Completed
                    </span>
                    <div class="flex items-center justify-between">
                        <span class="block mb-[4px] md:text-[15px] text-black dark:text-white">
                            Payment Method: VNPay
                        </span>
                        <div class="flex gap-[12px] -mt-5">
                            <button type="button" class="font-medium inline-block transition-all rounded-md md:text-md py-[6px] md:py-[8px] px-[16px] md:px-[18px] bg-danger-500 text-white hover:bg-danger-400 text-sm">
                                Print
                            </button>
                            <button type="button" class="font-medium inline-block transition-all rounded-md md:text-md py-[6px] md:py-[8px] px-[16px] md:px-[18px] bg-primary-500 text-white hover:bg-primary-400 text-sm">
                                <span class="inline-block relative ltr:pl-[22px] rtl:pr-[22px]">
                                    <i class="material-symbols-outlined ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 text-sm">
                                        download
                                    </i>
                                    Download
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive overflow-x-auto">
            <table class="w-full">
                <thead class="text-black dark:text-white">
                    <tr>
                        <th class="font-medium ltr:text-left rtl:text-right px-[10px] py-[8px] bg-gray-50 dark:bg-[#15203c] whitespace-nowrap ltr:first:rounded-tl-md ltr:last:rounded-tr-md rtl:first:rounded-tr-md rtl:last:rounded-tl-md text-sm w-[5%]">
                            No.
                        </th>
                        <th class="font-medium ltr:text-left rtl:text-right px-[10px] py-[8px] bg-gray-50 dark:bg-[#15203c] whitespace-nowrap ltr:first:rounded-tl-md ltr:last:rounded-tr-md rtl:first:rounded-tr-md rtl:last:rounded-tl-md text-sm w-[35%]">
                            Course Name
                        </th>
                        <th class="font-medium ltr:text-left rtl:text-right px-[10px] py-[8px] bg-gray-50 dark:bg-[#15203c] whitespace-nowrap ltr:first:rounded-tl-md ltr:last:rounded-tr-md rtl:first:rounded-tr-md rtl:last:rounded-tl-md text-sm w-[25%]">
                            Instructor
                        </th>
                        <th class="font-medium ltr:text-left rtl:text-right px-[10px] py-[8px] bg-gray-50 dark:bg-[#15203c] whitespace-nowrap ltr:first:rounded-tl-md ltr:last:rounded-tr-md rtl:first:rounded-tr-md rtl:last:rounded-tl-md text-sm w-[15%]">
                            Price
                        </th>
                        <th class="font-medium ltr:text-left rtl:text-right px-[10px] py-[8px] bg-gray-50 dark:bg-[#15203c] whitespace-nowrap ltr:first:rounded-tl-md ltr:last:rounded-tr-md rtl:first:rounded-tr-md rtl:last:rounded-tl-md text-sm w-[15%]">
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody class="text-black dark:text-white">
                    <tr>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[5%]">
                            1
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[35%] truncate">
                            React Fundamentals
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[25%] truncate">
                            Nguyễn Thị Hương
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            $80
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            $80
                        </td>
                    </tr>
                    <tr>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[5%]">
                            2
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[35%] truncate">
                            Node.js Advanced
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[25%] truncate">
                            Đặng Minh Tuấn
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            $45
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            $45
                        </td>
                    </tr>
                    <tr>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[5%]">
                            3
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[35%] truncate">
                            TypeScript Essentials
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[25%] truncate">
                            Trần Văn A
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            $30
                        </td>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[100px]">
                            $30
                        </td>
                    </tr>
                    <tr>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[5%]"></td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[35%]"></td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[25%]"></td>
                        <td class="font-medium ltr:text-right rtl:text-left whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            Sub Total
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            $155
                        </td>
                    </tr>
                    <tr>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[5%]"></td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[35%]"></td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[25%]"></td>
                        <td class="font-medium ltr:text-right rtl:text-left whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            Tax (0.22%)
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            $0.34
                        </td>
                    </tr>
                    <tr>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[5%]"></td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[35%]"></td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[25%]"></td>
                        <td class="font-medium ltr:text-right rtl:text-left whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            Discount (0.52%)
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            - $0.81
                        </td>
                    </tr>
                    <tr>
                        <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[5%]"></td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[35%]"></td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[25%]"></td>
                        <td class="font-medium ltr:text-right rtl:text-left whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            Grand Total
                        </td>
                        <td class="font-medium ltr:text-left rtl:text-right whitespace-nowrap px-[10px] py-[10px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l text-sm w-[15%]">
                            $154.53
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
