<div class="overview-container">
    <div class="stats-grid">
        <app-total-courses />
        <app-total-mentors />
        <app-online-classes />
        <app-total-students />
    </div>
</div>

<div class="chart-row">
    <div class="chart-item">
        <app-total-sales />
    </div>
    <div class="chart-item">
        <app-top-instructors />
    </div>
</div>

<div class="bottom-row">
    <div class="bottom-item">
        <app-students-interested-topics />
    </div>
    <div class="bottom-item">
        <app-group-lessons />
    </div>
</div>
