<div class="overview-container">
    <div class="stats-grid">
        <app-total-courses [pendingApprovals]="dashboardSummary?.pendingApprovals" />
        <app-total-mentors />
        <app-online-classes />
        <app-total-students />
    </div>
</div>

<div class="chart-row">
    <div class="chart-item">
        <app-total-sales />
    </div>
    <div class="chart-item">
        <app-top-instructors [instructors]="topInstructors" />
    </div>
</div>

<div class="bottom-row">
    <div class="bottom-item">
        <app-students-interested-topics [popularSubjects]="popularSubjects" />
    </div>
    <div class="bottom-item">
        <app-group-lessons [recentBookings]="recentBookings" />
    </div>
</div>
